
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(237, 237, 255);
font-family: sans-serif;
}

.container-todo{
width: 375px;
height: 812px;
background-color: rgb(255, 255, 255);
border-radius: 40px;
margin-top: 40px;
}

main{
  padding: 10px;
}

.menu{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
color:#d4d4d4;
font-size: 0.75rem;
margin-top: 1.75rem;
}


.menu div{
display: flex;
gap: 2rem;
}


.menu-bars{
font-size: large;
}


.todo-category{
display: flex;
align-items: center;
justify-content: space-between;
padding: 18px;
}

.category-title{
  font-size: 1.8rem;
}

.category-options{
  display: flex;
  gap:2rem;
  color: #c0c0c0;
}

.new-todo{
background-color: #f3f3f3;
padding: 10px;
border-radius: 8px;
display: flex;
align-items: center;

}

.plus-btn{
  border:none;
  background: transparent;
  color: #a5a3a3;
  margin-right: 20px;
  margin-left: 10px;

}

.new-todo input{
  border: none;
  background: transparent;
  padding: 10px;
  outline: none;
}

.new-todo input::placeholder{
  color: rgb(185, 184, 184);
}

.todo{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  color: rgb(189, 188, 188);
  border:2px solid rgb(238, 238, 238);
  padding: 15px;
  border-radius: 8px;
  margin-top: 8px;

}

.todo-status{
  display: flex;
  align-items: center;
  gap: 20px;
}

.check-status{
  color: #7a2ec0;
  font-weight: bold;
  font-size: large;
}

.todo-status h2{
  color: black;
  font-size: small;
  font-weight: lighter;
}

.checked h2{
  color: #7a2ec0;
}




